<?xml version="1.0" standalone="yes"?>
<all>
	<config>
		<baseurl>http://daddyleagues.com/</baseurl>
		<league>TSL</league>
		<cmdprefix>?</cmdprefix>
		<pslimit>5</pslimit>
	</config>
	<info>
		<league>The Test League (TTL)</league>
		<commish>TheWitt</commish>
		<rules>https://docs.google.com/document/d/1DHAiI_80G_LQ_MPx-SIMF27gK4MH-wBEPP0OAKCU9oQ/edit?usp=sharing</rules>
		<owners>https://docs.google.com/document/d/1PAxMPuLNopNNYbFm3Khhngn8nw5eRTbDNb0Ls7TG2FY/edit?usp=sharing</owners>
		<adv>9/3, 5pm Central</adv>
		<draft>9/3, 5pm Central</draft>
	</info>
	<img>
		<scalp>https://symonsez.files.wordpress.com/2009/08/scalp_edited.jpg</scalp>
		<ring>http://vignette3.wikia.nocookie.net/lotr/images/9/9b/TheOneRing.jpg</ring>
	</img>
	<twitch>
		<buf>sometwitchname</buf>
		<mia/>
		<ne/>
		<nyj/>
		
		<bal/>
		<cin/>
		<cle/>
		<pit/>
		
		<hou/>
		<ind/>
		<jac/>
		<ten>signmantsl</ten>
		
		<den/>
		<kc/>
		<oak/>
		<sd/>
		
		<dal/>
		<nyg/>
		<phi/>
		<was/>
		
		<chi/>
		<det/>
		<gb/>
		<min/>
		
		<atl/>
		<car/>
		<no/>
		<tb/>
		
		<ari/>
		<sea/>
		<sf/>
		<stl/>
	</twitch>
</all>
